<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Restb.ai CHALLENGE</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
    <div class="upload-form">
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <label for="images">Select images to upload:</label>
            <input type="file" id="images" name="images" accept="image/*" multiple required>

            <label for="city">City:</label>
            <select id="city" name="city" required>
                <option value="Burgos">Burgos</option>
                <option value="Barcelona">Barcelona</option>
                <option value="Madrid">Madrid</option>
            </select>

            <label for="neighborhood">Neighborhood:</label>
            <select id="neighborhood" name="neighborhood" required>
                <option value="La Mina">La Mina</option>
                <option value="Pedralbes">Pedralbes</option>
                <option value="Gràcia">Gràcia</option>
            </select>

            <label for="region">Region:</label>
            <select id="region" name="region" required>
                <option value="reg1">reg1</option>
                <option value="reg2">reg2</option>
                <option value="reg3">reg3</option>
            </select>

            <label for="square-meters">Square Meters:</label>
            <input type="number" id="square-meters" name="square-meters" required>
    
            <button type="submit">Upload</button>
        </form>
    </div>
    </body>
</html>