@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
html {
  font-family: 'Roboto', sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-image: url('wallpaper.jpg');
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(5px); /* Apply a blur effect */
  -webkit-backdrop-filter: blur(5px); /* For Safari */
}  
  .upload-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
  }

  .upload-form:hover {
    transform: scale(1.05);
  }
  
  .upload-form label {
    margin-bottom: 10px;
    text-align: center;
  }
  
  .upload-form input[type="file"] {
    padding: 10px;
    border: 2px solid #dddddd;
    border-radius: 5px;
    text-align: center;
  }
  
  .upload-form button[type="submit"] {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block; /* Display the button as a block element */
    margin-left: auto; /* Move the button to the center horizontally */
    margin-right: auto;
  }
  
  .upload-form button[type="submit"]:hover {
    background-color: #45a049;
  }

  .upload-form button[type="submit"]:active {
    transform: scale(0.95);
  }

  #message-container {
    text-align: center;
  }

  #message-container h2 {
    margin-top: 0;
  }

  #result-container {
    text-align: center;
  }

  #result-container p {
    text-align: center;
    color: #4CAF50;
    font-size: 40px;
    position: relative;
    display: inline-block;
    animation: moveText 5s infinite;
  }

  @keyframes moveText {
    0% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(-5px);
    }
}

  @keyframes loading-dots {
    0% {
      content: '.';
      opacity: 0;
    }
    33% {
      content: '..';
      opacity: 1;
    }
    66% {
      content: '...';
      opacity: 1;
    }
    100% {
      content: '.';
      opacity: 0;
    }
  }
  
  .loading-dots {
    font-size: 20px;
    animation: loading-dots 1s infinite;
    padding-bottom: 10px;
  }